@import "tailwindcss";


.rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

@theme {
    /* Primary */
    --color-cust-blue-600: hsl(231, 69%, 60%);
    --color-cust-red-400: hsl(0, 94%, 66%);

    /* Neutral */
    --color-cust-grey-50: hsl(0, 0%, 97%);
    --color-cust-blue-950: hsl(229, 31%, 21%);

    /* font size */
    --text-cust: 18px;
}

@layer base {
    h1 {
        @apply text-3xl md:text-4xl lg:text-5xl;
    }

    h2 {
        @apply text-2xl md:text-3xl;
    }

    h3 {
        @apply text-xl md:text-2xl lg:text-3xl;
    }

    h1,
    h2,
    h3,
    h4 {
        @apply text-cust-blue-950 font-medium;
    }

    p {
        @apply text-cust-blue-950/50;
    }

    button {
        @apply cursor-pointer font-[450];
    }

    a {
        @apply cursor-pointer;
    }

    hr {
        @apply text-cust-blue-950/15;
    }
}

@layer components {
    .btn-blue {
        @apply py-3 px-4 shadow-md bg-cust-blue-600 hover:bg-white hover:border-2 hover:border-cust-blue-600 hover:text-cust-blue-600 transition-all duration-200 text-white rounded-sm;
    }

    .btn {
        @apply py-3 px-4 hover:bg-white shadow-md rounded-sm text-cust-blue-950/80;
    }

    /* Card */

    .card {
        @apply flex flex-col justify-center items-center shadow-lg rounded-xl w-fit py-6;
    }

    .card__item {
        @apply flex flex-col items-center justify-center pt-8;
    }

    .card__item img {
        @apply size-25 mb-5;
    }

    .bg-dots {
        @apply pt-10 pb-6;
    }

    .card button {
        @apply px-[1.8rem];
    }

    /* Feature Tabs */

    .tab {
        @apply transition-opacity duration-300 absolute inset-0 flex md:flex-row flex-col justify-center lg:gap-10 md:gap-6;
    }

    .tab-active {
        @apply  opacity-100 z-10;
    }

    .tab-inactive {
        @apply  opacity-0 z-0;
    }

    /* Active, inactive classes */
    .active-tab-nav {
        @apply text-cust-blue-950;
    }

    .active-tab-nav > div {
        @apply scale-100 transition-transform duration-400 ease-out h-0.5 bg-cust-red-400 absolute origin-center -bottom-4;
    }

    .inactive-tab-nav {
        @apply text-cust-blue-950/80;
    }

    .inactive-tab-nav > div {
        @apply group-hover:scale-100 transition-transform duration-400 ease-out scale-0 h-0.5 bg-cust-red-400 absolute origin-center -bottom-4;
    }

    /* FAQs */

    .faq-question {
        @apply cursor-pointer hover:text-cust-red-400 transition-colors duration-200 ease-out text-cust-blue-950/95;
    }

    .faq-answer {
        @apply max-h-0 transition-all duration-300 overflow-hidden text-cust-blue-950/85 pt-0 ease-in;
    }

    .arrow {
        @apply text-cust-blue-600 font-bold text-2xl transition-all duration-500 w-fit h-fit;
    }

    .faq.active .faq-answer {
        @apply max-h-80 pt-6;
    }

    .faq.active .arrow {
        @apply rotate-180 text-cust-red-400;
    }

    /* Image dispaly */
    .img-display img{
        @apply xl:w-160 lg:w-140 md:w-300 sm:w-130 w-120;
    }
    .img-display div {
        @apply bg-cust-blue-600 absolute top-0;
    }
}